<form method="post" action="{{ path('soiree_delete', {'id': soiree.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ soiree.id) }}">
    <button class="btn">Delete</button>
</form>