{% extends 'base.html.twig' %}

{% block title %}Soiree index{% endblock %}

{% block body %}
    <h1>Soiree index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Date</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for soiree in soirees %}
            <tr>
                <td>{{ soiree.id }}</td>
                <td>{{ soiree.titre }}</td>
                <td>{{ soiree.prix }}</td>
                <td>{{ soiree.date ? soiree.date|date('d-m-Y') : '' }}</td>
                <td>{{ soiree.image }}</td>
                <td>
                    <a href="{{ path('soiree_show', {'id': soiree.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>
                    <a href="{{ path('soiree_edit', {'id': soiree.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('soiree_new') }}">Create new</a>
{% endblock %}