{% extends 'base.html.twig' %}

{% block title %}Soiree{% endblock %}

{% block body %}
    <h1>Soiree</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ soiree.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ soiree.titre }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ soiree.prix }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ soiree.date ? soiree.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ soiree.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('soiree_index') }}">back to list</a>

    <a href="{{ path('soiree_edit', {'id': soiree.id}) }}">edit</a>

    {{ include('soiree/_delete_form.html.twig') }}
{% endblock %}