{% extends 'base.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block body %}
    <h1>Liste d'hotels</h1>

    <a href="{{ path('hotel_new') }}">Ajouter Nv Hotel</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Categorie</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.nom }}</td>
                <td>{{ hotel.categorie }}</td>
                <td>{{ hotel.ville }}</td>
                <td>
                    <a href="{{ path('hotel_show', {'id': hotel.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>
                    <a href="{{ path('hotel_edit', {'id': hotel.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}