{% extends 'base.html.twig' %}

{% block title %}New Hotel{% endblock %}

{% block body %}
	<a href="{{ path('hotel_index') }}">back to list</a>
    <h1>Ajouter Nouveau Hotel</h1>

    {{ include('hotel/_form.html.twig') }}

    
{% endblock %}