{% extends 'base.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}
    <h1>Hôtel {{ hotel.id }} : {{ hotel.nom }} {{ hotel.categorie }}*</h1>
    
    {#<img src="{{ vich_uploader_asset(hotel_miniature, 'image') }}" alt="{{ hotel.name }}" />#}

    {# <a href="{{ path('hotel_index') }}">Retour à la liste d'hôtel</a> #}

    <ul>
        <li><a href="{{ path('vente_hotel_new', {'hotel': hotel.id}) }}">Ajouter Reservation</a></li>
        <li><a href="{{ path('stopsale_new', {'hotel': hotel.id}) }}">Ajouter Stop Sale</a></li>
    </ul>

    

    {# <a href="{{ path('hotel_edit', {'id': hotel.id}) }}">edit</a> #}

    {# {{ include('hotel/_delete_form.html.twig') }} #}
{% endblock %}