{% extends 'base.html.twig' %}

{% block title %}Edit MessageTodo{% endblock %}

{% block body %}
    <h1>Edit MessageTodo</h1>

    {{ include('message_todo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('message_todo_index') }}">back to list</a>

    {{ include('message_todo/_delete_form.html.twig') }}
{% endblock %}