{% extends 'base.html.twig' %}

{% block title %}MessageTodo index{% endblock %}

{% block body %}
    <h1>MessageTodo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message_todo in message_todos %}
            <tr>
                <td>{{ message_todo.id }}</td>
                <td>{{ message_todo.message }}</td>
                <td>
                    <a href="{{ path('message_todo_show', {'id': message_todo.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>
                    <a href="{{ path('message_todo_edit', {'id': message_todo.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('message_todo_new') }}">Create new</a>
{% endblock %}