{% extends 'base.html.twig' %}

{% block title %}New MessageTodo{% endblock %}

{% block body %}
    <h1>Create new MessageTodo</h1>

    {{ include('message_todo/_form.html.twig') }}

    <a href="{{ path('message_todo_index') }}">back to list</a>
{% endblock %}