{% extends 'base.html.twig' %}

{% block title %}MessageTodo{% endblock %}

{% block body %}
    <h1>MessageTodo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message_todo.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ message_todo.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('message_todo_index') }}">back to list</a>

    <a href="{{ path('message_todo_edit', {'id': message_todo.id}) }}">edit</a>

    {{ include('message_todo/_delete_form.html.twig') }}
{% endblock %}