{% extends 'base.html.twig' %}

{% block title %}Voyages index{% endblock %}

{% block body %}
    <h1>Voyages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Img</th>
                <th>Prix</th>
                <th>Nbrejour</th>
                <th>Nbrenuitee</th>
                <th>Inclu1</th>
                <th>Inclu2</th>
                <th>Inclu3</th>
                <th>Inclu4</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.titre }}</td>
                <td>{{ voyage.img }}</td>
                <td>{{ voyage.prix }}</td>
                <td>{{ voyage.nbrejour }}</td>
                <td>{{ voyage.nbrenuitee }}</td>
                <td>{{ voyage.inclu1 }}</td>
                <td>{{ voyage.inclu2 }}</td>
                <td>{{ voyage.inclu3 }}</td>
                <td>{{ voyage.inclu4 }}</td>
                <td>
                    <a href="{{ path('voyages_show', {'id': voyage.id}) }}">show</a>
                    <a href="{{ path('voyages_edit', {'id': voyage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('voyages_new') }}">Create new</a>
{% endblock %}