{% extends 'base.html.twig' %}

{% block title %}Voyages{% endblock %}

{% block body %}
    <h1>Voyages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voyage.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ voyage.titre }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ voyage.img }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voyage.prix }}</td>
            </tr>
            <tr>
                <th>Nbrejour</th>
                <td>{{ voyage.nbrejour }}</td>
            </tr>
            <tr>
                <th>Nbrenuitee</th>
                <td>{{ voyage.nbrenuitee }}</td>
            </tr>
            <tr>
                <th>Inclu1</th>
                <td>{{ voyage.inclu1 }}</td>
            </tr>
            <tr>
                <th>Inclu2</th>
                <td>{{ voyage.inclu2 }}</td>
            </tr>
            <tr>
                <th>Inclu3</th>
                <td>{{ voyage.inclu3 }}</td>
            </tr>
            <tr>
                <th>Inclu4</th>
                <td>{{ voyage.inclu4 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('voyages_index') }}">back to list</a>

    <a href="{{ path('voyages_edit', {'id': voyage.id}) }}">edit</a>

    {{ include('voyages/_delete_form.html.twig') }}
{% endblock %}