{% extends 'base.html.twig' %}

{% block title %}Edit Congee{% endblock %}

{% block body %}
    <h1>Edit Congee</h1>

    {{ include('congee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('congee_index') }}">back to list</a>

    {{ include('congee/_delete_form.html.twig') }}
{% endblock %}