{% extends 'base.html.twig' %}

{% block title %}Etat des congées{% endblock %}

{% block body %}
    <h1>Etat des congées</h1>
    <a href="{{ path('congee_new') }}">Ajouter Nv Congée</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Debut</th>
                <th>Reprise</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for congee in congees %}
            <tr>
                <td>{{ congee.id }}</td>
                <td>{{ congee.debut ? congee.debut|date('d-m-Y') : '' }}</td>
                <td>{{ congee.reprise ? congee.reprise|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('congee_show', {'id': congee.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>

                    <a href="{{ path('congee_edit', {'id': congee.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}