{% extends 'base.html.twig' %}

{% block title %}New Congee{% endblock %}

{% block body %}
    <h1>Create new Congee</h1>

    {{ include('congee/_form.html.twig') }}

    <a href="{{ path('congee_index') }}">back to list</a>
{% endblock %}