{% extends 'base.html.twig' %}

{% block title %}Congee{% endblock %}

{% block body %}
    <h1>Congee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ congee.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ congee.debut ? congee.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Reprise</th>
                <td>{{ congee.reprise ? congee.reprise|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('congee_index') }}">back to list</a>

    <a href="{{ path('congee_edit', {'id': congee.id}) }}">edit</a>

    {{ include('congee/_delete_form.html.twig') }}
{% endblock %}