<form method="post" action="{{ path('payement_fournisseur_delete', {'id': payement_fournisseur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ payement_fournisseur.id) }}">
    <button class="btn">Delete</button>
</form>