{% extends 'base.html.twig' %}

{% block title %}Edit PayementFournisseur{% endblock %}

{% block body %}
    <h1>Edit PayementFournisseur</h1>

    {{ include('payement_fournisseur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('payement_fournisseur_index') }}">back to list</a>

    {{ include('payement_fournisseur/_delete_form.html.twig') }}
{% endblock %}