{% extends 'base.html.twig' %}

{% block title %}Payement Fournisseur{% endblock %}
{% block body %}
    <h1>Payement Fournisseur </h1>
    {# <a href="{{ path('payement_fournisseur_new') }}">Ajouter Payement Fournisseur</a> #}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateOp</th>
                <th>Fournisseur</th>
                <th>MontantPayement</th>
                <th>Echeance</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payement_fournisseur in payement_fournisseurs %}
            <tr>
                <td>{{ payement_fournisseur.id }}</td>
                <td>{{ payement_fournisseur.dateOp ? payement_fournisseur.dateOp|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ payement_fournisseur.fournisseur }}</td>
                <td>{{ payement_fournisseur.montantPayement }}</td>
                <td>{{ payement_fournisseur.echeance ? payement_fournisseur.echeance|date('d-m-Y') : '' }}</td>
                <td>{{ payement_fournisseur.libelle }}</td>
                <td>
                    <a href="{{ path('payement_fournisseur_show', {'id': payement_fournisseur.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>
                    <a href="{{ path('payement_fournisseur_edit', {'id': payement_fournisseur.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}