{% extends 'base.html.twig' %}

{% block title %}New PayementFournisseur{% endblock %}

{% block body %}
    <h1>Create new PayementFournisseur</h1>

    {{ include('payement_fournisseur/_form.html.twig') }}

    <a href="{{ path('payement_fournisseur_index') }}">back to list</a>
{% endblock %}