{% extends 'base.html.twig' %}

{% block title %}PayementFournisseur{% endblock %}

{% block body %}
    <h1>PayementFournisseur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payement_fournisseur.id }}</td>
            </tr>
            <tr>
                <th>DateOp</th>
                <td>{{ payement_fournisseur.dateOp ? payement_fournisseur.dateOp|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>MontantPayement</th>
                <td>{{ payement_fournisseur.montantPayement }}</td>
            </tr>
            <tr>
                <th>Echeance</th>
                <td>{{ payement_fournisseur.echeance ? payement_fournisseur.echeance|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ payement_fournisseur.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('payement_fournisseur_index') }}">back to list</a>

    <a href="{{ path('payement_fournisseur_edit', {'id': payement_fournisseur.id}) }}">edit</a>

    {{ include('payement_fournisseur/_delete_form.html.twig') }}
{% endblock %}