{% extends 'base.html.twig' %}

{% block title %}Edit PaymentHotel{% endblock %}

{% block body %}
    <h1>Edit PaymentHotel</h1>

    {{ include('payment_hotel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('payment_hotel_index') }}">back to list</a>

    {{ include('payment_hotel/_delete_form.html.twig') }}
{% endblock %}