{% extends 'base.html.twig' %}

{% block title %}PaymentHotel index{% endblock %}

{% block body %}
    <h1>PaymentHotel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateOp</th>
                <th>MontantPayement</th>
                <th>Echeance</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payment_hotel in payment_hotels %}
            <tr>
                <td>{{ payment_hotel.id }}</td>
                <td>{{ payment_hotel.dateOp ? payment_hotel.dateOp|date('d-m-Y') : '' }}</td>
                <td>{{ payment_hotel.montantPayement }}</td>
                <td>{{ payment_hotel.echeance ? payment_hotel.echeance|date('d-m-Y') : '' }}</td>
                <td>{{ payment_hotel.libelle }}</td>
                <td>
                    <a href="{{ path('payment_hotel_show', {'id': payment_hotel.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>
                    <a href="{{ path('payment_hotel_edit', {'id': payment_hotel.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('payment_hotel_new') }}">Create new</a>
{% endblock %}