{% extends 'base.html.twig' %}

{% block title %}New PaymentHotel{% endblock %}

{% block body %}
    <h1>Create new PaymentHotel</h1>

    {{ include('payment_hotel/_form.html.twig') }}

    <a href="{{ path('payment_hotel_index') }}">back to list</a>
{% endblock %}