{% extends 'base.html.twig' %}

{% block title %}PaymentHotel{% endblock %}

{% block body %}
    <h1>PaymentHotel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payment_hotel.id }}</td>
            </tr>
            <tr>
                <th>DateOp</th>
                <td>{{ payment_hotel.dateOp ? payment_hotel.dateOp|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>MontantPayement</th>
                <td>{{ payment_hotel.montantPayement }}</td>
            </tr>
            <tr>
                <th>Echeance</th>
                <td>{{ payment_hotel.echeance ? payment_hotel.echeance|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ payment_hotel.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('payment_hotel_index') }}">back to list</a>

    <a href="{{ path('payment_hotel_edit', {'id': payment_hotel.id}) }}">edit</a>

    {{ include('payment_hotel/_delete_form.html.twig') }}
{% endblock %}