{% extends 'base.html.twig' %}

{% block title %}Edit Chambrehotel{% endblock %}

{% block body %}
    <h1>Edit Chambrehotel</h1>

    {{ include('chambrehotel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('chambrehotel_index') }}">back to list</a>

    {{ include('chambrehotel/_delete_form.html.twig') }}
{% endblock %}