{% extends 'base.html.twig' %}

{% block title %}Chambrehotel index{% endblock %}

{% block body %}
    <h1>Chambrehotel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Arrivee</th>
                <th>Depart</th>
                <th>TypeChambre</th>
                <th>NbreAd</th>
                <th>NbreEnf</th>
                <th>NbreBb</th>
                <th>NomAd1</th>
                <th>NomAd2</th>
                <th>NomAd3</th>
                <th>NomAd4</th>
                <th>NomAd5</th>
                <th>NomEnf1</th>
                <th>AgeEnf1</th>
                <th>NomEnf2</th>
                <th>AgeEnf2</th>
                <th>NomEnf3</th>
                <th>AgeEnf3</th>
                <th>NomEnf4</th>
                <th>AgeEnf4</th>
                <th>NomEnf5</th>
                <th>AgeEnf5</th>
                <th>Achat</th>
                <th>Vente</th>
                <th>Remarques</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chambrehotel in chambrehotels %}
            <tr>
                <td>{{ chambrehotel.id }}</td>
                <td>{{ chambrehotel.arrivee ? chambrehotel.arrivee|date('d-m-Y') : '' }}</td>
                <td>{{ chambrehotel.depart ? chambrehotel.depart|date('d-m-Y') : '' }}</td>
                <td>{{ chambrehotel.typeChambre }}</td>
                <td>{{ chambrehotel.nbreAd }}</td>
                <td>{{ chambrehotel.nbreEnf }}</td>
                <td>{{ chambrehotel.nbreBb }}</td>
                <td>{{ chambrehotel.nomAd1 }}</td>
                <td>{{ chambrehotel.nomAd2 }}</td>
                <td>{{ chambrehotel.nomAd3 }}</td>
                <td>{{ chambrehotel.nomAd4 }}</td>
                <td>{{ chambrehotel.nomAd5 }}</td>
                <td>{{ chambrehotel.nomEnf1 }}</td>
                <td>{{ chambrehotel.ageEnf1 }}</td>
                <td>{{ chambrehotel.nomEnf2 }}</td>
                <td>{{ chambrehotel.ageEnf2 }}</td>
                <td>{{ chambrehotel.nomEnf3 }}</td>
                <td>{{ chambrehotel.AgeEnf3 }}</td>
                <td>{{ chambrehotel.nomEnf4 }}</td>
                <td>{{ chambrehotel.ageEnf4 }}</td>
                <td>{{ chambrehotel.nomEnf5 }}</td>
                <td>{{ chambrehotel.ageEnf5 }}</td>
                <td>{{ chambrehotel.achat }}</td>
                <td>{{ chambrehotel.vente }}</td>
                <td>{{ chambrehotel.remarques }}</td>
                <td>
                    <a href="{{ path('chambrehotel_show', {'id': chambrehotel.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>
                    <a href="{{ path('chambrehotel_edit', {'id': chambrehotel.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="26">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chambrehotel_new') }}">Create new</a>
{% endblock %}