{% extends 'base.html.twig' %}

{% block title %}New Chambrehotel{% endblock %}

{% block body %}
    <h1>Create new Chambrehotel</h1>

    {{ include('chambrehotel/_form.html.twig') }}

    <a href="{{ path('chambrehotel_index') }}">back to list</a>
{% endblock %}