{% extends 'base.html.twig' %}

{% block title %}Chambrehotel{% endblock %}

{% block body %}
    <h1>Chambrehotel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chambrehotel.id }}</td>
            </tr>
            <tr>
                <th>Arrivee</th>
                <td>{{ chambrehotel.arrivee ? chambrehotel.arrivee|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Depart</th>
                <td>{{ chambrehotel.depart ? chambrehotel.depart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TypeChambre</th>
                <td>{{ chambrehotel.typeChambre }}</td>
            </tr>
            <tr>
                <th>NbreAd</th>
                <td>{{ chambrehotel.nbreAd }}</td>
            </tr>
            <tr>
                <th>NbreEnf</th>
                <td>{{ chambrehotel.nbreEnf }}</td>
            </tr>
            <tr>
                <th>NbreBb</th>
                <td>{{ chambrehotel.nbreBb }}</td>
            </tr>
            <tr>
                <th>NomAd1</th>
                <td>{{ chambrehotel.nomAd1 }}</td>
            </tr>
            <tr>
                <th>NomAd2</th>
                <td>{{ chambrehotel.nomAd2 }}</td>
            </tr>
            <tr>
                <th>NomAd3</th>
                <td>{{ chambrehotel.nomAd3 }}</td>
            </tr>
            <tr>
                <th>NomAd4</th>
                <td>{{ chambrehotel.nomAd4 }}</td>
            </tr>
            <tr>
                <th>NomAd5</th>
                <td>{{ chambrehotel.nomAd5 }}</td>
            </tr>
            <tr>
                <th>NomEnf1</th>
                <td>{{ chambrehotel.nomEnf1 }}</td>
            </tr>
            <tr>
                <th>AgeEnf1</th>
                <td>{{ chambrehotel.ageEnf1 }}</td>
            </tr>
            <tr>
                <th>NomEnf2</th>
                <td>{{ chambrehotel.nomEnf2 }}</td>
            </tr>
            <tr>
                <th>AgeEnf2</th>
                <td>{{ chambrehotel.ageEnf2 }}</td>
            </tr>
            <tr>
                <th>NomEnf3</th>
                <td>{{ chambrehotel.nomEnf3 }}</td>
            </tr>
            <tr>
                <th>AgeEnf3</th>
                <td>{{ chambrehotel.AgeEnf3 }}</td>
            </tr>
            <tr>
                <th>NomEnf4</th>
                <td>{{ chambrehotel.nomEnf4 }}</td>
            </tr>
            <tr>
                <th>AgeEnf4</th>
                <td>{{ chambrehotel.ageEnf4 }}</td>
            </tr>
            <tr>
                <th>NomEnf5</th>
                <td>{{ chambrehotel.nomEnf5 }}</td>
            </tr>
            <tr>
                <th>AgeEnf5</th>
                <td>{{ chambrehotel.ageEnf5 }}</td>
            </tr>
            <tr>
                <th>Achat</th>
                <td>{{ chambrehotel.achat }}</td>
            </tr>
            <tr>
                <th>Vente</th>
                <td>{{ chambrehotel.vente }}</td>
            </tr>
            <tr>
                <th>Remarques</th>
                <td>{{ chambrehotel.remarques }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chambrehotel_index') }}">back to list</a>

    <a href="{{ path('chambrehotel_edit', {'id': chambrehotel.id}) }}">edit</a>

    {{ include('chambrehotel/_delete_form.html.twig') }}
{% endblock %}