{% extends 'base.html.twig' %}



{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <ul>
        <li><a href="{{ path('congee_index') }}">Congee</a></li>
        <li><a href="{{ path('hotel_index') }}">Hotels</a></li>
        <li><a href="{{ path('stopsale_index') }}">Stop Sale</a></li>
        <li><a href="{{ path('ventebillet_index') }}">Vente Billet</a></li>
        <li><a href="{{ path('vente_hotel_index') }}">Vente Hotel</a></li>
        <li><a href="{{ path('ville_index') }}">Villes</a></li>
        <li><a href="{{ path('soiree_index') }}">Soirees</a></li>
        <li><a href="{{ path('circuit_index') }}">Circuits</a></li>
        <li><a href="{{ path('payement_fournisseur_index') }}">Payement Fournisseur</a></li>
        <li><a href="{{ path('type_payement_index') }}">Type Payement</a></li>
        <li><a href="{{ path('fournisseur_index') }}">Fournisseur</a></li>
        <li><a href="{{ path('type_fournisseur_index') }}">Type Fournisseur</a></li>
        <li><a href="{{ path('todo_index') }}">ToDo</a></li>
        <li><a href="{{ path('message_todo_index') }}">MessagesToDo</a></li>
        <li><a href="{{ path('arrangement_index') }}">Arrangement</a></li>
        <li><a href="{{ path('chambrehotel_index') }}">Chambre Hotel</a></li>
        <li><a href="{{ path('contact_index') }}">Contact Client</a></li>
        <li><a href="{{ path('payment_hotel_index') }}">Payement Hotel</a></li>
        <li><a href="{{ path('voyages_index') }}">Voyages</a></li>
        <li><a href="{{ path('cheque_index') }}">Cheques</a></li>




    </ul>
</div>
{% endblock %}
