{% extends 'base.html.twig' %}

{% block title %}Edit Todo{% endblock %}

{% block body %}
    <h1>Edit Todo</h1>

    {{ include('todo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('todo_index') }}">back to list</a>

    {{ include('todo/_delete_form.html.twig') }}
{% endblock %}