{% extends 'base.html.twig' %}

{% block title %}Todo{% endblock %}

{% block body %}
    <div class="row">
        <h2>Todo {{ todo.id }} : {{ todo.sujet }}</h2>
    </div>
    

    <table class="table">
        <tbody>
        {% for message_todo in message_todos %}
            <tr>
                <td>{{ message_todo.id }}</td>
                <td>{{ message_todo.message }}</td>
                <td>
                    <a href="{{ path('message_todo_show', {'id': message_todo.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>
                    <a href="{{ path('message_todo_edit', {'id': message_todo.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# {{ include('message_todo/_form.html.twig') }} #}

    <a href="{{ path('todo_index') }}">back to list</a>

    <a href="{{ path('todo_edit', {'id': todo.id}) }}">edit</a>

    {{ include('todo/_delete_form.html.twig') }}
{% endblock %}