{% extends 'base.html.twig' %}

{% block title %}Circuit index{% endblock %}

{% block body %}
    <h1>Circuit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Date</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for circuit in circuits %}
            <tr>
                <td>{{ circuit.id }}</td>
                <td>{{ circuit.titre }}</td>
                <td>{{ circuit.prix }}</td>
                <td>{{ circuit.date ? circuit.date|date('d-m-Y') : '' }}</td>
                <td>{{ circuit.image }}</td>
                <td>
                    <a href="{{ path('circuit_show', {'id': circuit.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>
                    <a href="{{ path('circuit_edit', {'id': circuit.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('circuit_new') }}">Create new</a>
{% endblock %}