{% extends 'base.html.twig' %}

{% block title %}Circuit{% endblock %}

{% block body %}
    <h1>Circuit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ circuit.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ circuit.titre }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ circuit.prix }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ circuit.date ? circuit.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ circuit.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('circuit_index') }}">back to list</a>

    <a href="{{ path('circuit_edit', {'id': circuit.id}) }}">edit</a>

    {{ include('circuit/_delete_form.html.twig') }}
{% endblock %}