{% extends 'base.html.twig' %}

{% block title %}Edit TypeFournisseur{% endblock %}

{% block body %}
    <h1>Edit TypeFournisseur</h1>

    {{ include('type_fournisseur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_fournisseur_index') }}">back to list</a>

    {{ include('type_fournisseur/_delete_form.html.twig') }}
{% endblock %}