{% extends 'base.html.twig' %}

{% block title %}TypeFournisseur index{% endblock %}

{% block body %}
    <h1>TypeFournisseur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_fournisseur in type_fournisseurs %}
            <tr>
                <td>{{ type_fournisseur.id }}</td>
                <td>{{ type_fournisseur.nom }}</td>
                <td>
                    <a href="{{ path('type_fournisseur_show', {'id': type_fournisseur.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>
                    <a href="{{ path('type_fournisseur_edit', {'id': type_fournisseur.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_fournisseur_new') }}">Create new</a>
{% endblock %}