{% extends 'base.html.twig' %}

{% block title %}New TypeFournisseur{% endblock %}

{% block body %}
    <h1>Create new TypeFournisseur</h1>

    {{ include('type_fournisseur/_form.html.twig') }}

    <a href="{{ path('type_fournisseur_index') }}">back to list</a>
{% endblock %}