{% extends 'base.html.twig' %}

{% block title %}TypeFournisseur{% endblock %}

{% block body %}
    <h1>TypeFournisseur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_fournisseur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ type_fournisseur.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_fournisseur_index') }}">back to list</a>

    <a href="{{ path('type_fournisseur_edit', {'id': type_fournisseur.id}) }}">edit</a>

    {{ include('type_fournisseur/_delete_form.html.twig') }}
{% endblock %}