{% extends 'base.html.twig' %}

{% block title %}Edit Arrangement{% endblock %}

{% block body %}
    <h1>Edit Arrangement</h1>

    {{ include('arrangement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('arrangement_index') }}">back to list</a>

    {{ include('arrangement/_delete_form.html.twig') }}
{% endblock %}