{% extends 'base.html.twig' %}

{% block title %}Arrangement index{% endblock %}

{% block body %}
    <h1>Arrangement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for arrangement in arrangements %}
            <tr>
                <td>{{ arrangement.id }}</td>
                <td>{{ arrangement.nom }}</td>
                <td>
                    <a href="{{ path('arrangement_show', {'id': arrangement.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>
                    <a href="{{ path('arrangement_edit', {'id': arrangement.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('arrangement_new') }}">Create new</a>
{% endblock %}