{% extends 'base.html.twig' %}

{% block title %}New Arrangement{% endblock %}

{% block body %}
    <h1>Create new Arrangement</h1>

    {{ include('arrangement/_form.html.twig') }}

    <a href="{{ path('arrangement_index') }}">back to list</a>
{% endblock %}