{% extends 'base.html.twig' %}

{% block title %}Arrangement{% endblock %}

{% block body %}
    <h1>Arrangement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ arrangement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ arrangement.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('arrangement_index') }}">back to list</a>

    <a href="{{ path('arrangement_edit', {'id': arrangement.id}) }}">edit</a>

    {{ include('arrangement/_delete_form.html.twig') }}
{% endblock %}