<form method="post" action="{{ path('vente_hotel_delete', {'id': vente_hotel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vente_hotel.id) }}">
    <button class="btn">Delete</button>
</form>