{% extends 'base.html.twig' %}

{% block title %}Edit VenteHotel{% endblock %}

{% block body %}
    <h1>Edit VenteHotel</h1>

    {{ include('vente_hotel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vente_hotel_index') }}">back to list</a>

    {{ include('vente_hotel/_delete_form.html.twig') }}
{% endblock %}