{% extends 'base.html.twig' %}

{% block title %}VenteHotel index{% endblock %}

{% block body %}
    <h1>VenteHotel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hotel</th>
                <th>DateOp</th>
                <th>Client</th>
                <th>Arrivee</th>
                <th>Depart</th>
                {#<th>EtatClient</th>
                <th>EtatVenteHotel</th>
                <th>EtatFournisseur</th>#}
                <th>Remarque</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vente_hotel in vente_hotels %}
            <tr>
                <td>{{ vente_hotel.id }}</td>
                <td>{{ vente_hotel.hotel }}</td>
                <td>{{ vente_hotel.dateOp ? vente_hotel.dateOp|date('d-m-Y') : '' }}</td>
                <td>{{ vente_hotel.client }}</td>
                <td>{{ vente_hotel.arrivee ? vente_hotel.arrivee|date('d-m-Y') : '' }}</td>
                <td>{{ vente_hotel.depart ? vente_hotel.depart|date('d-m-Y') : '' }}</td>
                {#<td>{{ vente_hotel.etatClient }}</td>
                <td>{{ vente_hotel.etatVenteHotel }}</td>
                <td>{{ vente_hotel.etatFournisseur }}</td>#}
                <td>{{ vente_hotel.remarque }}</td>
                <td>
                    <a href="{{ path('vente_hotel_show', {'id': vente_hotel.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>
                    <a href="{{ path('vente_hotel_edit', {'id': vente_hotel.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('vente_hotel_new') }}">Create new</a>#}
{% endblock %}