{# extends 'base.html.twig' #}
{% extends '@!EasyAdmin/default/layout.html.twig' %}

{% block title %}New VenteHotel{% endblock %}

{% block body %}
    {# <h1>Nouvelle Reservation {{hotel.nom}} {{hotel.categorie}}* </h1>  #}

    {{ include('vente_hotel/_form.html.twig') }}

    <a href="{{ path('vente_hotel_index') }}">back to list</a>
{% endblock %}