{% extends 'base.html.twig' %}

{% block title %}VenteHotel{% endblock %}

{% block body %}
<a href="{{ path('vente_hotel_index') }}">back to list</a>
    <h1>Reservation N° {{ vente_hotel.id }} </h1>  
    Crée Le : {{ vente_hotel.dateOp ? vente_hotel.dateOp|date('Y-m-d H:i:s') : '' }} Traité Par : {{ vente_hotel.user }}

    <table class="table">
        <tbody>
            <tr>
                <th>Client</th>
                <td>{{ vente_hotel.client }}</td>
            </tr>
            <tr>
                <th>Arrivee : {{ vente_hotel.arrivee ? vente_hotel.arrivee|date('Y-m-d') : '' }}</th>
                <td></td>
            </tr>
            <tr>
                <th>Depart : {{ vente_hotel.depart ? vente_hotel.depart|date('Y-m-d') : '' }}</th>
                <td></td>
            </tr>
            <tr>
                <th>EtatClient</th>
                <td>{{ vente_hotel.etatClient }}</td>
            </tr>
            <tr>
                <th>Etat Dossier</th>
                <td>{{ vente_hotel.etatVenteHotel }}</td>
            </tr>
            <tr>
                <th>EtatFournisseur</th>
                <td>{{ vente_hotel.etatFournisseur }}</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ vente_hotel.remarque }}</td>
            </tr>
        </tbody>
    </table>

    

    <a href="{{ path('vente_hotel_edit', {'id': vente_hotel.id}) }}">edit</a>

    {{ include('vente_hotel/_delete_form.html.twig') }}
{% endblock %}