<form method="post" action="{{ path('stopsale_delete', {'id': stopsale.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stopsale.id) }}">
    <button class="btn">Delete</button>
</form>