{% extends 'base.html.twig' %}

{% block title %}Edit Stopsale{% endblock %}

{% block body %}
    <h1>Edit Stopsale</h1>

    {{ include('stopsale/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('stopsale_index') }}">back to list</a>

    {{ include('stopsale/_delete_form.html.twig') }}
{% endblock %}