{% extends 'base.html.twig' %}

{% block title %}Stopsale index{% endblock %}

{% block body %}
    <h1>Stopsale index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hotel</th>
                <th>Debut</th>
                <th>Reprise</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stopsale in stopsales %}
            <tr>
                <td>{{ stopsale.id }}</td>
                <td>{{ stopsale.hotel }}</td>
                <td>{{ stopsale.debut ? stopsale.debut|date('Y-m-d') : '' }}</td>
                <td>{{ stopsale.reprise ? stopsale.reprise|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('stopsale_show', {'id': stopsale.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>
                    <a href="{{ path('stopsale_edit', {'id': stopsale.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('stopsale_new') }}">Create new</a>#}
{% endblock %}