{% extends 'base.html.twig' %}

{% block title %}New Stopsale{% endblock %}

{% block body %}
    <h1>Create new Stopsale</h1>

    {{ include('stopsale/_form.html.twig') }}

    <a href="{{ path('stopsale_index') }}">back to list</a>
{% endblock %}