{% extends 'base.html.twig' %}

{% block title %}Stopsale{% endblock %}

{% block body %}
    <h1>Stopsale</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stopsale.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ stopsale.debut ? stopsale.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Reprise</th>
                <td>{{ stopsale.reprise ? stopsale.reprise|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stopsale_index') }}">back to list</a>

    <a href="{{ path('stopsale_edit', {'id': stopsale.id}) }}">edit</a>

    {{ include('stopsale/_delete_form.html.twig') }}
{% endblock %}