{% extends 'base.html.twig' %}

{% block title %}Fournisseur{% endblock %}

{% block body %}
    <h1>Fournisseur</h1>

    <a href="{{ path('payement_fournisseur_new', {'fournisseur': fournisseur.id}) }}">Ajouter Payement Fournisseur</a>
    <a href="{{ path('payement_fournisseur_etat', {'id': fournisseur.id}) }}">Liste Payement Fournisseur</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fournisseur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ fournisseur.nom }}</td>
            </tr>
            <tr>
                <th>Mf</th>
                <td>{{ fournisseur.mf }}</td>
            </tr>
            <tr>
                <th>Rib</th>
                <td>{{ fournisseur.rib }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fournisseur_index') }}">back to list</a>

    <a href="{{ path('fournisseur_edit', {'id': fournisseur.id}) }}">edit</a>

    {{ include('fournisseur/_delete_form.html.twig') }}
{% endblock %}