{% extends 'base.html.twig' %}

{% block title %}Edit Ventebillet{% endblock %}

{% block body %}
    <h1>Edit Ventebillet</h1>

    {{ include('ventebillet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ventebillet_index') }}">back to list</a>

    {{ include('ventebillet/_delete_form.html.twig') }}
{% endblock %}