{% extends 'base.html.twig' %}

{% block title %}Ventebillet index{% endblock %}

{% block body %}
    <h1>Vente billets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dateop</th>
                <th>Client</th>
                <th>Passager</th>
                <th>Parcour</th>
                <th>Depart</th>
                <th>Retour</th>
                <th>Fournisseur</th>
                <th>Achat</th>
                <th>Vente</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ventebillet in ventebillets %}
            <tr>
                <td>{{ ventebillet.id }}</td>
                <td>{{ ventebillet.dateop ? ventebillet.dateop|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ ventebillet.client }}</td>
                <td>{{ ventebillet.passager }}</td>
                <td>{{ ventebillet.parcour }}</td>
                <td>{{ ventebillet.depart ? ventebillet.depart|date('Y-m-d') : '' }}</td>
                <td>{{ ventebillet.retour ? ventebillet.retour|date('Y-m-d') : '' }}</td>
                <td>{{ ventebillet.fournisseur }}</td>
                <td>{{ ventebillet.achat }}</td>
                <td>{{ ventebillet.vente }}</td>
                <td>
                    <a href="{{ path('ventebillet_show', {'id': ventebillet.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>
                    <a href="{{ path('ventebillet_edit', {'id': ventebillet.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ventebillet_new') }}">Create new</a>
{% endblock %}