{% extends 'base.html.twig' %}

{% block title %}New Ventebillet{% endblock %}

{% block body %}
    <h1>Create new Ventebillet</h1>

    {{ include('ventebillet/_form.html.twig') }}

    <a href="{{ path('ventebillet_index') }}">back to list</a>
{% endblock %}