{% extends 'base.html.twig' %}

{% block title %}Ventebillet{% endblock %}

{% block body %}
    <h1>Ventebillet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ventebillet.id }}</td>
            </tr>
            <tr>
                <th>Dateop</th>
                <td>{{ ventebillet.dateop ? ventebillet.dateop|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Passager</th>
                <td>{{ ventebillet.passager }}</td>
            </tr>
            <tr>
                <th>Parcour</th>
                <td>{{ ventebillet.parcour }}</td>
            </tr>
            <tr>
                <th>Depart</th>
                <td>{{ ventebillet.depart ? ventebillet.depart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Retour</th>
                <td>{{ ventebillet.retour ? ventebillet.retour|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fournisseur</th>
                <td>{{ ventebillet.fournisseur }}</td>
            </tr>
            <tr>
                <th>Amadeus</th>
                <td>{{ ventebillet.amadeus }}</td>
            </tr>
            <tr>
                <th>Frais</th>
                <td>{{ ventebillet.frais }}</td>
            </tr>
            <tr>
                <th>Achat</th>
                <td>{{ ventebillet.achat }}</td>
            </tr>
            <tr>
                <th>Vente</th>
                <td>{{ ventebillet.vente }}</td>
            </tr>
            <tr>
                <th>Etatclient</th>
                <td>{{ ventebillet.etatclient }}</td>
            </tr>
            <tr>
                <th>Etatfournisseur</th>
                <td>{{ ventebillet.etatfournisseur }}</td>
            </tr>
            <tr>
                <th>Etatbillet</th>
                <td>{{ ventebillet.etatbillet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ventebillet_index') }}">back to list</a>

    <a href="{{ path('ventebillet_edit', {'id': ventebillet.id}) }}">edit</a>

    {{ include('ventebillet/_delete_form.html.twig') }}
{% endblock %}