{% extends 'base.html.twig' %}

{% block title %}Cheque index{% endblock %}

{% block body %}
    <h1>Cheque index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Etat</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cheque in cheques %}
            <tr>
                <td>{{ cheque.id }}</td>
                <td>{{ cheque.numero }}</td>
                <td>{{ cheque.etat }}</td>
                <td>{{ cheque.montant }}</td>
                <td>
                    <a href="{{ path('cheque_show', {'id': cheque.id}) }}">show</a>
                    <a href="{{ path('cheque_edit', {'id': cheque.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cheque_new') }}">Create new</a>
{% endblock %}