{% extends 'base.html.twig' %}

{% block title %}Cheque{% endblock %}

{% block body %}
    <h1>Cheque</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cheque.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ cheque.numero }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ cheque.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cheque_index') }}">back to list</a>

    <a href="{{ path('cheque_edit', {'id': cheque.id}) }}">edit</a>

    {{ include('cheque/_delete_form.html.twig') }}
{% endblock %}