{% extends 'base.html.twig' %}

{% block title %}TypePayement index{% endblock %}

{% block body %}
    <h1>TypePayement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_payement in type_payements %}
            <tr>
                <td>{{ type_payement.id }}</td>
                <td>{{ type_payement.nom }}</td>
                <td>
                    <a href="{{ path('type_payement_show', {'id': type_payement.id}) }}"><button type="button" class="btn btn-success">Afficher</button></a>
                    <a href="{{ path('type_payement_edit', {'id': type_payement.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_payement_new') }}">Create new</a>
{% endblock %}