{% extends 'base.html.twig' %}

{% block title %}TypePayement{% endblock %}

{% block body %}
    <h1>TypePayement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_payement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ type_payement.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_payement_index') }}">back to list</a>

    <a href="{{ path('type_payement_edit', {'id': type_payement.id}) }}">edit</a>

    {{ include('type_payement/_delete_form.html.twig') }}
{% endblock %}